*{
    box-sizing: border-box;
    margin: 0;
}
#main_div{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

#main_div > div {
    border: solid 1px rgb(51, 29, 29);
    width: 270px;
    height: 10em;
    background-color: lightgray;
}
img{
    max-width: 100%;
    height: 5em;
}

h2{
    background-color: yellow;
}

h3{
    background-color: red;
}

p{
    background-color: yellow;
}

